* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #222;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.main-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto; /* Centers the whole container on the screen */
}

.text-section {
  text-align: left;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
h1:hover {
  color: rgb(83, 115, 213);
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.imagediv img {
  display: flex;
  width: 100%;
  border: none;
  height: auto;
  border-radius: 4px;
}
.imagediv img:hover {
  transform: translateY(4px);
  cursor: pointer;
}
