* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #8a57aa, #000000);
  min-height: auto;
  margin: 0;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}
.logo {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.menu ul {
  list-style-type: none;
  display: flex;
  background-color: #423143;
  height: 25px;
}

.menu li {
  margin-left: 10px;
}
/* links*/
.menu a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 17px;
}
.menu :hover {
  background: linear-gradient(to left, #8d5cac, #272626);
}
.container {
  margin-top: 1rem;
  margin-left: 3.5rem;
  height: auto;
  width: 90vw;
  border: none;
  border: 3px solid rgba(80, 87, 84, 0.6);
  border-radius: 17px;
  background: linear-gradient(to right, #131212, #8a57aa);
}
.container {
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
}
.container:hover {
  border: #8a57aa;
}
.item {
  border-radius: 14px;
  padding: 1rem;
}
.item:hover {
  background: linear-gradient(to right, #000000, #8a57aa);
  transform: translateY(-4px);
}
.myname {
  height: 20rem;
  width: 20rem;
  margin-left: 13px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.info-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 2px;
}

.label {
  font-weight: bold;
  color: #3c899c;
}
.note {
  height: 26rem;
  width: 40rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 12px;
}
.skills:hover {
  background: linear-gradient(to right, #715582, #323232);
}
.para {
  border-radius: 15px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: sans-serif;
}
.para:hover {
  background: linear-gradient(to right, #715582, #323232);
}

.infogroup label {
  display: block;
  color: #8a57aa;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.infogroup p {
  margin: 0;
  font-size: 1.1rem;
}

.button {
  background: #8a57aa;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 17px;
}

.button:hover {
  background: #3c899c;
  border: black;
  transform: translateY(-2px);
}
.skills label {
  display: block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: sans-serif;
  text-decoration: double;
  background: linear-gradient(to right, #131212, #8a57aa);
}
.skills p {
  margin: 0;
  font-size: 1.1rem;
}
.more {
  border: none;
  border-radius: 8px;
  background-color: #8a57aa;
  color: white;
  padding: 10px 20px;
}
.more:hover {
  background: #3c899c;
  transform: translateY(2px);
  cursor: pointer;
}
