* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #8d5cac, #272626);
  min-height: 100vh;
  margin: 0;
  max-width: 100vw;
  overflow: hidden;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}
.logo {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.menu ul {
  list-style-type: none;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  height: 25px;
}

.menu li {
  margin-left: 10px;
}
/* links*/
.menu a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 17px;
}
.menu :hover {
  background: linear-gradient(to left, #8d5cac, #272626);
}
.container {
  height: 22rem;
  width: 100vw;
  display: grid;
  padding: 3rem;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
}
.item1 {
  display: flex;
  padding: 1px;
  justify-content: center;
}

.lower {
  width: 100%;
  height: 15rem;
  padding: 15px;
}

.item1 img {
  border-radius: 18px;
  object-fit: cover;
}
.contact {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #005f73;
  color: white;
  border: none;
  border-radius: 10px;
}

.contact:hover {
  background-color: #3c899c93;
  transform: translateY(1px);
  cursor: pointer;
}
