* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.big {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  background-color: rgb(43, 42, 40);
  height: 90%;
  width: 80%;
  display: grid;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
  /*grid-template-rows: 100px 100px;
  grid-template-rows: 1fr 1fr;*/
  grid-template-rows: repeat(4, 1fr);
  /* grid-template-columns: 100px 100px 100px;*/
  grid-template-columns: repeat(3, 1fr);
}
.item {
  background-color: rgb(89, 130, 94);
  border: 2px solid black;
}
.header {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-content: center;
}
.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-content: center;
}
.sidebar {
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-content: center;
}
.content1 {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-content: center;
}
